* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body,
.main-container {
    width: 100vw;
    height: 100vh;
}

.logo-container{
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 54px;
    width: calc(21rem - 44px);
    background-color: #fff;
    border-radius: 50px;
}

#logo{
    margin: auto;
    display: block;
    height: 64px;
}

#my-map-carousel{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: calc(22rem);
}

.leaflet-routing-container{
    display: none;
}

.map-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

.board-container {
    position: absolute;
    z-index: 1000;
    top: 75px;
    margin: 10px;
}

.board {
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #888;
    background-color: #fff;
}

.board-title-container {
    padding: 10px 20px;
    box-shadow: 0px 4px 4px #eee;
}

.board-title {
    margin: 0;
    font-weight: 700;
    font-size: larger;
    color: #e8772e;
}

.board-content-container {
    display: flex;
    padding: 10px 20px;
    width: 21rem;
}

.board-station-content-container{
    display: block !important;
}

.board-content-container p {
    margin: 0;
}

.route-property-container {
    margin-right: 8px;
}

.route-property {
    font-weight: 600;
    text-align: right
}

/* Station List */
.station-container {
    font-size: larger;
    display: flex;
    margin-top: 8px;
    margin-bottom: 12px;
}

.station-order-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.station-order {
    margin: auto;
    font-weight: 700;
    font-size: larger;
    color: #e8772e;
}

.station-name {
    font-weight: 700;
}

.station-address {
    font-size: medium;
}

.my-div-icon{
    display: block;
    background-color: #fff;
}

.my-div-image{
    position: absolute;
    top: -24px;
    left: -32px;
    height: 70px;
    width: 70px;
}

.my-div-span{
    position: absolute;
    padding: 12px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px #888;
    top: -74px;
    left: -52px;
    display: block;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: max-content;
}

.station-div-image {
    position: absolute;
    top: -60px;
    left: -28px;
    height: 5rem;
    width: 5rem;
}

.station-div-span {
    position: absolute;
    padding: 0 12px;
    border-radius: 100%;
    box-shadow: 0px 4px 20px #888;
    top: -7rem;
    left: -8px;
    display: block;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 700;
    color: #e8772e;
    text-align: center;
    width: max-content;    
}