* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}

body {
    height: 100vh;
    width: 100vw;
}

#main-container{
    position: relative;
    height: 100%;
    width: 100%;
}

#logo-container {
    margin: 2vh 0;
}

#logo {
    display: block;
    margin: auto;
    height: 5vh;
}

#map-container{
    height: 100%;
    width: 100%;
}

#route-list{
    float: left;
    width: 20vw;
    height: 100vh;
    padding: 1vh 1% 2vh;
}

.carousel-item{
    height: 100%;
}

#route-map{
    float: right;
    width: 80vw;
    height: 100vh;
}